.editorCanva {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    &::-webkit-scrollbar{
        width: 2px;
    }
    &::-webkit-scrollbar-track{
        background-color: white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #bfc0c2f8;
        border-radius: 3px;
    }
}
.editorContainer {
    height: 1000px;
    position: relative;
}

//选中元素出现选中方框的css样式
.componentDisplay {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px dashed red;
    }
}
//编辑器中元素是行内元素的样式
.inline {
    display: inline-block;
}

// 拖拽元素辅助线的css样式
.rightline {
    border-right: 2px solid rgb(46, 46, 247);
}
.leftline {
    border-left: 2px solid rgb(46, 46, 247);
}
.topline {
    border-top: 2px solid rgb(46, 46, 247);
}
.bottomline {
    border-bottom: 2px solid rgb(46, 46, 247);
}