.smBox *{
    pointer-events: none;
}
.moveBox {
    position: relative;
}
.leftTitle {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: '宋体';
}
.appear {
    left: 0;
}
.hidden {
    left: -14% !important;
}
.bt {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:-28px;
    bottom: 0;
    width: 20px;
    height: 35px;
    cursor: pointer;
}   
.icon-shuangjiantou {
    transition: all .8s;
    font-size: 20px;
}
.titleBlock {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    border: 1px solid #cecece;
    cursor: pointer;
    >i {
        margin-left: 15px;
    }
    >div {
        margin-left: 15px;
    }
}
.comMoveBox {
    transition: all .5s;
    overflow: hidden;
}
.blocksBox {
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cecece;
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 90%;
        height: 100px;
        margin-top: 4px;
        margin-bottom: 6px;
        border-radius: 10px;
        border: 1px solid #cecece;
        box-shadow: 1px 0px 10px rgb(0, 0, 0,.2);
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor:grabbing;
        }
    }
}
.blocksBox::-webkit-scrollbar {
    width: 4px;
}
.blocksBox::-webkit-scrollbar-thumb {
    background-color: rgba(191, 192, 194, 0.9725490196);
    border-radius: 3px;
}
.blocksBox::-webkit-scrollbar-track {
    background-color: white;
}
//元素漂浮的样式
.flutter {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

//按钮的旋转样式
.rotateBox {
    transition: all .5s;
    pointer-events: none;
}
