.moveBox {
    position: relative;
}
.leftTitle {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: '宋体';
}
.appear {
    left: 0;
}
.hidden {
    left: -14% !important;
}
.bt {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:-28px;
    bottom: 0;
    width: 20px;
    height: 35px;
}   
.icon-shuangjiantou {
    transition: all .8s;
    font-size: 20px;
}
.blocksBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100px;
        margin-top: 4px;
        margin-bottom: 6px;
        border-radius: 10px;
        border: 1px solid #cecece;
        box-shadow: 1px 0px 10px rgb(0, 0, 0,.2);
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor:grabbing;
        }
    }
}

//元素漂浮的样式
.flutter {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}
